.body {
  background: #eff5ff;

  @media (max-width: 1020px) {
    padding: 0 40px;
  }
  @media (max-width: 767px) {
    padding: 0;
  }
}

.card {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 25px 40px -20px rgba(0, 0, 0, 0.09);
  display: flex;
  height: 600px;
  margin: 105px auto 0;
  max-width: 940px;
  padding: 16px;
  width: 100%;

  @media (max-width: 767px) {
    background: transparent;
    border-radius: 0;
    box-shadow: 0;
    height: auto;
    margin-top: 0;
    flex-direction: column;
    padding: 0;
  }
}

.children {
  @media (max-width: 767px) {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin: -75px 16px 0;
  }
}
