.container {
  display: flex;
  flex-direction: column;
  margin-left: 16%;
  padding-bottom: 32px;
  padding-right: 84px;
  width: 100%;
}

.heading {
  color: #022959;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
  margin: 30px 0 8px;
}

.subheading {
  color: #9699aa;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inputWrapper {
  margin-bottom: 30px;
}

.buttonWrapper {
  align-self: flex-end;
  margin-top: auto;
}
